@font-face {
    font-family: "Lexend";
    src: url("./fonts/Lexend-VariableFont.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --dark-blue: #0a111f;
    --blue: #0d1890;
    --purple: #66569f;
    --turquoise: #08e1f6;

    font-family: Lexend, sans-serif;
}

body {
    background-color: var(--dark-blue);
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
