.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: fit-content;
    color: white;
}

.cards div {
    display: flex;
    flex-direction: column;

    border: 1px solid white;
    border-radius: 2rem;
    padding: 2rem;
}

.cards h2 {
    text-transform: uppercase;
    font-size: 1.725rem;
}

.cards a {
    background-color: rgb(25, 110, 170);
    padding: 0.25rem;
    padding-block: 0.825rem;
    border-radius: 0.325rem;
    font-size: 1.225rem;
    text-align: center;
    margin-block: 1.275rem;
    color: white;
}

.cards ul {
    
}