.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
    margin-top: 5rem;
    margin: 0 auto;
    color: white;
}

.cards > div {
    display: flex;
    flex-direction: column;

    border: 1px solid white;
    border-radius: 1.25rem;
    padding: 1.25rem;

    text-align: center;

    max-width: 30rem;
}

.cards > div > form {
    color: black;
}

.cards > div > form img {
    margin-top: 2rem;
    width: 6rem;
}

.cards > div > form > input {
    font-family: "Lexend";
    margin-block: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    padding-block: 0.5rem;
    border-radius: 0.325rem;
    border: none;
    color: black;
}

.cards > div > form > button {
    font-family: "Lexend";
    color: white;
    background-color: rgb(59, 126, 104);
    margin-top: -0.5rem;
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    padding-block: 0.5rem;
    border-radius: 0.325rem;
    border: none;
    cursor: pointer;
    transition: 150ms;
    font-weight: 600;
}

.cards > div > form > button:hover {
    background-color: rgb(83, 161, 135);
}

.cards > div h3 {
    margin-top: 2rem;
}

.cards > div .correcto {
    color: rgb(157, 201, 92);
}
.cards > div .incorrecto {
    color: rgb(201, 114, 92);
}
