.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: fit-content;
    color: white;
}

.cards > div {
    display: flex;
    flex-direction: column;

    border: 1px solid white;
    border-radius: 2rem;
    padding: 2rem;
}

.cards > div h2 {
    text-transform: uppercase;
    font-size: 1.725rem;
}

.cards > div a,
.cards > div button {
    background-color: rgb(25, 110, 170);
    padding: 0.25rem;
    padding-block: 0.825rem;
    border-radius: 0.325rem;
    font-size: 1rem;
    text-align: center;
    margin-block: 1.275rem;
    color: white;
    transition: 60ms;
}

.cards > div button {
    margin: 0 0 2rem;
    border: none;
    cursor: pointer;
}

.cards > div a:hover,
.cards > div button:hover {
    opacity: 0.7;
}

.cards > div ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards > div ul li {
    font-size: 1rem;
}

.cards > div ul li input {
    font-size: 1rem;
    font-family: "Lexend";
    border: none;
    background-color: var(--dark-blue);
    color: white;
    width: 8.5rem;
    text-align: center;
}
